<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  </head>

  <body>
  
<nav class="nav">
  <input type="checkbox" class="nav__cb" id="menu-cb"/>
  <div class="nav__content">
    <ul style="margin-top:-9px" class="nav__items">
      {{!-- <li class="nav__item">
        <span class="nav__item-text font-style text-center">
         Menu
      </span>
       
      </li> --}}

<li class="nav__item">
        <span  style="padding-right: 20px" class="nav__item-text">
          <a class="font-style" href="/users/profile">MyStars</a>
      </span>
      </li>


      <li class="nav__item">
         <span class="nav__item-text" style="padding-left: 15px;">
          {{#if currentUserId}}
           <a class="font-style" href="/logout">LogOut</a> 
           </span>
           {{else}}
           <span class="nav__item-text" style="padding-left:10px;">
            <a  class="font-style"href="/login">LogIn</a>
           {{/if}}
        </span>
      </li>

<li class="nav__item">
        <span class="nav__item-text" style="padding-left:25px">
          <a class="font-style"  href="/stars">Reply</a>
      </span>
      </li>
       

    

      

      <li class="nav__item">
        <span class="nav__item-text"  style="padding-left: 15px">
          {{!-- <div> --}}
          {{!-- <a  id="stop_refresh" class="font-style" href="/stars/new">NewStar</a> --}}
          <a   class="font-style" href="/stars/new">NewStar</a>
          {{!-- </div> --}}
      </span>
     </li>   




    </ul>
  </div>
  <label style="margin-top:-7px; margin-right:4px;" class="nav__btn" for="menu-cb"></label>
</nav>



    <main>
      {{{body}}}
      
    </main>

    

    <script>

      // const myVariable
      // const my_variable 
      const name = 'joe';
      const greeting = `Hello ${name}`;
      const city = `San Francisco`;

      const animaiton = document.getElementById('square');
      const background = document.getElementById('form')
      //const star =  document.getElementById("star_light");
      const grab = document.getElementById("stop_refresh");
      const menu_cb = document.getElementById("menu-cb");
      function closeMenu() {
        menu_cb.checked = false; // true == true !true = false 
      }

      grab.onclick = function(e){
        e.preventDefault();
        console.log("hey lo");
        closeMenu();
        animaiton.classList.toggle('square_newshow');
       // star.classList.toggle('orangeshow');
        background.classList.toggle('form_opshow');
        const rainbow = document.getElementById('rainbow');
        console.log(rainbow);
        rainbow.classList.remove("hideme");
        // square.classList.add() .remove()
      }
 
    </script>
  </body>
  
</html>