<div class="background_one">
  <div >
	<div id="rainbow" class="rainbow hideme">
		<div class="red"></div>
		{{!-- <div id ="star_light" class="orange"></div> --}}
		<div  class="yellow"></div>
		<div class="green"></div>
		<div class="cyan"></div>
		<div class="blue"></div>
		<div class="purple"></div>
	</div>
</div>
<div id ="square"class="square_new">
  {{!-- <svg id="star-back" height="200" width="200">
    <polygon points="100,10 40,198 190,78 10,78 160,198"/>
  </svg> --}}
    {{!-- <div id="square" class="star-five"> --}}
  
  <form id="form"class ="form_op" action="/stars" method="post">
    <legend>New Star</legend>

    
      <div class="form-group">
      <label for="star-title">Star's Tag</label>
      <input type="text" name="starname" class="form-control" id="star-starname" placeholder="Name">
    </div>
<P>Hi There: you are here to share your thoughts! you can say anything here,
       enter anything you want to share in below</P>
    
        <label for="star-word">I'm Listening:</label>
    <div class="form-group">
      {{!-- <label for="star-word">I'm Listening:</label> --}}
      <textarea class="size"type="text" name="word" class="form-control" id="star-word"></textarea>
    </div>

    <div class="text-right animation">
      <button style="background-color: #555555;"type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>

</div >

<div class="font-style position">
{{!-- <button id="stop_refresh" >Start</button> --}}

<button id="stop_refresh" class="format button" >Start</button>

</div>

</div>