<div class="background_profile">
<h1 class="text" style="text-align:center;">{{currentUserName }}'s star</h1>
<div "index_style">
    <ul class="ul_no">
{{#each stars as |star|}}
{{!-- <div>{{star.id}}</div> --}}
<li ><a href="/stars/{{star.id}}"><h2 class="text_small">{{star.starname}}</h2></a></li>
{{/each}}
</ul>
</div>
</div>

