<div >
<h2 class="font_style">{{currentUserName }}'s star</h2>

<div >
    <ul class="ul_no">
{{#each stars as |star|}}
{{!-- <div>{{star.id}}</div> --}}
<div class="index_style">
  
    
<li ></h3>{{star.starname}}:<a href="/stars/{{star.id}}"> click me</a></h3></li>
</div>
{{/each}}
</ul>
</div>
</div>

