<div class="font_style">
<h2>{{currentUserName }}'s star</h2>

<div>
    <ul>
{{#each stars as |star|}}
{{!-- <div>{{star.id}}</div> --}}
<li></h3>{{star.starname}}:<a href="/stars?id=${star.id}"> link</a></h3></li>

{{/each}}
</ul>
</div>
</div>

